<script src="{{url_for('static', filename='keys.js')}}"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script>
  /**
   * Sample JavaScript code for youtube.channels.list
   * See instructions for running APIs Explorer code samples locally:
   * https://developers.google.com/explorer-help/guides/code_samples#javascript
   */

  function authenticate() {
    return gapi.auth2.getAuthInstance()
        .signIn({scope: "https://www.googleapis.com/auth/youtube.upload"})
        .then(
            function() {
                console.log("Sign-in successful");
            },
            function(err) {
                console.error("Error signing in", err);
            }
        );
  }
  function loadClient() {
    gapi.client.setApiKey(keys.api_key);
    return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); });
  }
  // Make sure the client is loaded and sign-in is complete before calling this method.
  function execute() {
      const auth_response = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse();
      const access_token = auth_response.access_token
      const id_token = auth_response.id_token

      document.getElementById("access_token").value = access_token;
      document.getElementById("id_token").value = id_token;
  }
  gapi.load("client:auth2", function() {
    gapi.auth2.init({client_id: keys.client_id});
  });
</script>

<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type="text" name=access_token id="access_token" hidden>
    <input type="text" name=id_token id="id_token" hidden>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<button onclick="authenticate().then(loadClient)">authorize and load</button>
<button onclick="execute()">execute</button>
